<a href="https://colab.research.google.com/github/itsAniketNow/PW_Skills_Assignments/blob/main/20_Aug_String_Base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Based Assignment Problem

1.Write a program to reverse a string.

In [ ]:
# Defining the function called "reversed_string" and returning the output as reversed_string.
def reversed_string(string):
  return string[::-1]

In [ ]:
reversed_string("STring")

'gnirTS'

2. Check if a string is a palindrome.

In [ ]:
def is_palindrome(input_string):
    clean_string = input_string.replace(" ", "").lower()  # Remove spaces and convert to lowercase
    return clean_string == clean_string[::-1]

In [ ]:
is_palindrome("tenet")

True

In [ ]:
is_palindrome("Good")

False

3. Convert a string to uppercase.

In [ ]:
def to_uppercase(input_string):
    return input_string.upper() # Converting string in uppercase and returning it as a output.

In [ ]:
to_uppercase("input_string")

'INPUT_STRING'

4. Convert a string to lowercase

In [ ]:
def to_lowercase(input_string):
    return input_string.lower() # Converting string in lowercase and returning it as a ouptput.

In [ ]:
to_lowercase("GOOD NIGHT")

'good night'

### 5. Count the number of vowels in a string

In [ ]:
def count_vowels(input_string):
    vowels = "AEIOUaeiou" # Vowels from the alphabet.
    return sum(1 for char in input_string if char in vowels) # Counting the number of vowels from string.

### 6. Count the number of consonants in a string

In [ ]:
def count_consonants(input_string):
    consonants = "BCDFGHJKLMNPQRSTVWXYZbcdfghjklmnpqrstvwxyz" # Consonants from alphabet.
    return sum(1 for char in input_string if char in consonants) # Counting the consonants from the string.

### 7. Remove all whitespaces from a string

In [ ]:
def remove_whitespace(input_string):
    return ''.join(input_string.split())

### 8. Find the length of a string without using the `len()` function

In [ ]:
def string_length(input_string):
    count = 0
    for char in input_string:
        count += 1
    return count

### 9. Check if a string contains a specific word

In [ ]:
def contains_word(input_string, word):
    return word in input_string

### 10. Replace a word in a string with another word

In [ ]:
def replace_word(input_string, old_word, new_word):
    return input_string.replace(old_word, new_word)

### 11. Count the occurrences of a word in a string

In [ ]:
def count_word_occurrences(input_string, word):
    words = input_string.split()
    return words.count(word)

### 12. Find the first occurrence of a word in a string

In [ ]:
def find_first_occurrence(input_string, word):
    return input_string.find(word)

### 13. Find the last occurrence of a word in a string

In [ ]:
def find_last_occurrence(input_string, word):
    return input_string.rfind(word)

### 14. Split a string into a list of words

In [ ]:
def split_string(input_string):
    return input_string.split()

### 15. Join a list of words into a string

In [ ]:
def join_words(word_list):
    return ' '.join(word_list)

### 16. Convert a string with spaces to underscores

In [ ]:
def space_to_underscore(input_string):
    # Use the replace() method to replace spaces with underscores
    return input_string.replace(" ", "_")

### 17. Check if a string starts with a specific word or phrase

In [ ]:
def starts_with_word(input_string, word):
    # Use the startswith() method to check if 'input_string' starts with 'word'
    return input_string.startswith(word)

### 18. Check if a string ends with a specific word or phrase

In [ ]:
def ends_with_word(input_string, word):
    # Use the endswith() method to check if 'input_string' ends with 'word'
    return input_string.endswith(word)

### 19. Convert a string to title case

In [ ]:
def to_title_case(input_string):
    # Use the title() method to convert to title case
    return input_string.title()

### 20. Find the longest word in a string

In [ ]:
def longest_word(input_string):
    # Split the string into words and find the longest word using max() and len()
    words = input_string.split()
    return max(words, key=len)

### 21. Find the shortest word in a string

In [ ]:
def shortest_word(input_string):
    # Split the string into words and find the shortest word using min() and len()
    words = input_string.split()
    return min(words, key=len)

### 22. Reverse the order of words in a string

In [ ]:
def reverse_word_order(input_string):
    # Split the string into words, reverse the list, and join the words back together
    words = input_string.split()
    return ' '.join(reversed(words))

### 23. Check if a string is alphanumeric

In [ ]:
def is_alphanumeric(input_string):
    # Use the isalnum() method to check if all characters are alphanumeric
    return input_string.isalnum()

### 24. Extract all digits from a string

In [ ]:
def extract_digits(input_string):
    # Use filter() to extract digits (characters that are digits)
    return ''.join(filter(str.isdigit, input_string))

### 25. Extract all alphabets from a string

In [ ]:
def extract_alphabets(input_string):
    # Use filter() to extract alphabetic characters
    return ''.join(filter(str.isalpha, input_string))

### 26. Count the number of uppercase letters in a string

In [ ]:
def count_uppercase_letters(input_string):
    # Use isupper() to check if each character is uppercase and count them
    return sum(1 for char in input_string if char.isupper())

### 27. Count the number of lowercase letters in a string

In [ ]:
def count_lowercase_letters(input_string):
    # Use islower() to check if each character is lowercase and count them
    return sum(1 for char in input_string if char.islower())

### 28. Swap the case of each character in a string

In [ ]:
def swap_case(input_string):
    # Use swapcase() to swap the case of each character
    return input_string.swapcase()

### 29. Remove a specific word from a string

In [ ]:
def remove_specific_word(input_string, word_to_remove):
    # Split the string into words, filter out the word to remove, and join them back
    words = input_string.split()
    return ' '.join(word for word in words if word != word_to_remove)

### 30. Check if a string is a valid email address (basic validation)

In [ ]:
# 30. Check if a string is a valid email address (basic validation)
import re

def is_valid_email(input_string):
    # Basic email validation using regular expression
    pattern = r'^\S+@\S+\.\S+$'
    return bool(re.match(pattern, input_string))

##31. Extract the username from an email address string.

In [ ]:
# 31. Extract the username from an email address string
def extract_username(email):
    # Split the email using "@" and get the first part as the username
    parts = email.split("@")
    return parts[0]

###Extract the domain name from an email address string

In [ ]:
def extract_domain(email):
    # Split the email using "@" and get the second part as the domain
    parts = email.split("@")
    return parts[1]

### 33. Replace multiple spaces in a string with a single space

In [ ]:
def replace_multiple_spaces(input_string):
    # Use regular expression to replace multiple spaces with a single space
    import re
    return re.sub(' +', ' ', input_string)

### 34. Check if a string is a valid URL

In [ ]:
def is_valid_url(input_string):
    # Use regular expression to check if it looks like a URL
    import re
    pattern = r'^(http|https)://[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}(/.*)?$'
    return bool(re.match(pattern, input_string))

### 35. Extract the protocol (http or https) from a URL string

In [ ]:
def extract_protocol(url):
    # Split the URL using "://" and get the first part as the protocol
    parts = url.split("://")
    return parts[0]

### 36. Find the frequency of each character in a string

In [ ]:
def character_frequency(input_string):
    # Create a dictionary to store character frequencies
    freq_dict = {}
    for char in input_string:
        if char in freq_dict:
            freq_dict[char] += 1
        else:
            freq_dict[char] = 1
    return freq_dict

### 37. Remove all punctuation from a string

In [ ]:
def remove_punctuation(input_string):
    # Use regular expression to remove all punctuation characters
    import re
    return re.sub(r'[^\w\s]', '', input_string)

### 38. Check if a string contains only digits

In [ ]:
# 38. Check if a string contains only digits
def contains_only_digits(input_string):
    # Check if all characters are digits
    return input_string.isdigit()

### 39. Check if a string contains only alphabets

In [ ]:
# 39. Check if a string contains only alphabets
def contains_only_alphabets(input_string):
    # Check if all characters are alphabetic
    return input_string.isalpha()

### 40. Convert a string to a list of characters

In [ ]:
def string_to_list(input_string):
    # Use list() to convert the string to a list of characters
    return list(input_string)

### 41. Check if two strings are anagrams

In [ ]:
def are_anagrams(str1, str2):
    # Sort both strings and compare if they are equal
    return sorted(str1) == sorted(str2)

### 42. Encode a string using a Caesar cipher

In [ ]:
def caesar_cipher_encode(input_string, shift):
    encoded_string = ""
    for char in input_string:
        if char.isalpha():
            shifted_char = chr(((ord(char) - ord('a' if char.islower() else 'A') + shift) % 26) + ord('a' if char.islower() else 'A'))
            encoded_string += shifted_char
        else:
            encoded_string += char
    return encoded_string

### 43. Decode a Caesar cipher encoded string

In [ ]:
def caesar_cipher_decode(encoded_string, shift):
    return caesar_cipher_encode(encoded_string, -shift)

### 44. Find the most frequent word in a string

In [ ]:
def most_frequent_word(input_string):
    words = input_string.split()
    word_count = {}
    for word in words:
        word_count[word] = word_count.get(word, 0) + 1
    max_word = max(word_count, key=word_count.get)
    return max_word

### 45. Find all unique words in a string

In [ ]:
def unique_words(input_string):
    words = input_string.split()
    unique_words = list(set(words))
    return unique_words

### 46. Count the number of syllables in a string (basic approximation)

In [ ]:
def count_syllables(input_string):
    # This is a basic approximation, counting vowels as syllables
    vowels = "AEIOUaeiou"
    syllable_count = 0
    for char in input_string:
        if char in vowels:
            syllable_count += 1
    return syllable_count

### 47. Check if a string contains any special characters

In [ ]:
def contains_special_characters(input_string):
    # Use regular expression to check for special characters
    import re
    return bool(re.search('[!@#$%^&*()_+{}[\]:;<>,.?~\\|]', input_string))

### 48. Remove the nth word from a string

In [ ]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if 0 <= n < len(words):
        del words[n]
    return ' '.join(words)

### 49. Insert a word at the nth position in a string

In [ ]:
def insert_word_at_nth_position(input_string, word, n):
    words = input_string.split()
    if 0 <= n <= len(words):
        words.insert(n, word)
    return ' '.join(words)

### 50. Convert a CSV string to a list of lists

In [ ]:
def csv_string_to_list(input_string):
    # Use the csv module to parse the CSV string into a list of lists
    import csv
    csv_list = list(csv.reader([input_string]))[0]
    return csv_list

#List Based Practice Problem :

##1. Create a list with integers from 1 to 10.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

###2.Find the Length of a List without Using 'len()'

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = 0
for _ in my_list:
    length += 1

###3.Append an element to the end of a list.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)

###4.Insert an element at a specific index of a list.

In [ ]:
my_list = [1, 2, 3]
my_list.insert(1, 4)  # Insert 4 at index 1

###Remove an Element from a List by Its Value:

In [ ]:
my_list = [1, 2, 3, 4]
my_list.remove(3)  # Removes the value 3

###Remove an Element from a List by Its Index:

In [ ]:
my_list = [1, 2, 3]
removed_value = my_list.pop(1)  # Removes the element at index 1 (2 in this case)

###Check if an Element Exists in a List:

In [ ]:
my_list = [1, 2, 3, 4, 5]
exists = 3 in my_list  # True if 3 exists in the list, otherwise False

###Find the Index of the First Occurrence of an Element in a List:

In [ ]:
my_list = [1, 2, 3, 4, 3]
index = my_list.index(3)  # first occurrence of 3 and returns its index (2 in this case)

###Count the Occurrences of an Element in a List:

In [ ]:
my_list = [1, 2, 3, 4, 3]
count = my_list.count(3)  # Counts how many times 3 appears in the list (2 in this case)

###Reverse the Order of Elements in a List:

In [ ]:
#reverse the order of elements using the `reverse()` method
my_list = [1, 2, 3, 4]
my_list.reverse()  # Reverses the list so that it becomes [4, 3, 2, 1]

###Sort a List in Ascending Order:

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort()

###Sort a List in Descending Order:

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort(reverse=True)

###Create a List of Even Numbers from 1 to 20:

In [ ]:
even_numbers = [i for i in range(1, 21) if i % 2 == 0]

###Find the Sum of All Elements in a List:

In [ ]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)

###Find the Maximum Value in a List:

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]
max_value = max(my_list)

###Find the Minimum Value in a List:

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]
min_value = min(my_list)

###Create a List of Squares of Numbers from 1 to 10:

In [ ]:
squares = [i**2 for i in range(1, 11)]

In [ ]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###Create a list of random numbers:

In [ ]:
import random
random_numbers = [random.randint(1, 100) for _ in range(10)]

In [ ]:
random_numbers

[42, 14, 44, 53, 86, 24, 57, 22, 30, 41]

###Remove the duplicates from the list

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
clean_list = list[set(my_list)]

In [ ]:
clean_list

list[{1, 2, 3, 4, 5}]

###Find the Common Elements Between Two Lists:

In [ ]:
from os import remove
list_1 = [1, 2, 3, 4, 5]
list_2 = [3, 4, 5, 6, 7]
common_num_list = [num for num in list_1 if num in list_2]

In [ ]:
common_num_list

[3, 4, 5]

###Find the difference two list.

In [ ]:
list_1 = [1, 2, 3, 4, 5, 8, 9]
list_2 = [3, 4, 5, 6, 7, 7, 9]
difference_list = [num for num in list_1 if num not in list_2]
difference_list

[1, 2, 8]

###Merge two list.

In [ ]:
list_1 = [1, 2, 3, 4, 5, 8, 9]
list_2 = [3, 4, 5, 6, 7, 7, 9]
merge_list = list_1 + list_2
merge_list

[1, 2, 3, 4, 5, 8, 9, 3, 4, 5, 6, 7, 7, 9]

###Multiply all elements in a list by 2.

In [ ]:
list1 = [1, 2, 3, 4, 5, 8, 9]
result = [num * 2 for num in list1]
result

[2, 4, 6, 8, 10, 16, 18]

###Filter out all the even number from a list.

In [ ]:
list1 = [1, 2, 3, 4, 5, 8, 9]
even_num = [num for num in list1 if num%2 == 0]
even_num

[2, 4, 8]

###Convert a list of strings to a list of integers.

In [ ]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = list(map(int, string_list))
print(integer_list)

[1, 2, 3, 4, 5]

###Convert a list of integers to a list of strings.

In [ ]:
integer_list = [1, 2, 3, 4, 5]
string_list = list(map(str, integer_list))
print(string_list)

['1', '2', '3', '4', '5']

###Flatten a nested list.

In [ ]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flatten_list = [num for item in nested_list for num in item]
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8]

###Create a list of the first 10 Fibonacci numbers.

In [ ]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list[:n]

fibonacci_numbers = generate_fibonacci(10)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

###Check if a list is sorted.

In [ ]:
def is_sorted(my_list):
  [my_list[i] <= my_list[i+1] for i in range(len(my_list)-1)]
  return my_list

l = [1, 2, 3, 4, 5]
print(is_sorted(l))

[1, 2, 3, 4, 5]

###31. Rotate a list to the left by `n` positions.

In [ ]:
def rotate_left(n, lst):
  dummy_list = lst[n::1]
  rotate = dummy_list[::-1] + lst[:n]
  return rotate

l = [1, 2, 3, 4, 5]
print(rotate_left(3, l))

[5, 4, 1, 2, 3]

###32.Rotate a list to the right by `n` positions.

In [ ]:
def rotate_right(n, lst):
  dummy_list = lst[:n]
  rotate = dummy_list[::-1] + lst[n::]
  return rotate

l = [1, 2, 3, 4, 5]
print(rotate_right(3, l))

[3, 2, 1, 4, 5]

###33.Create a list of prime numbers up to 50.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]


###34. Split a list into chunks of size `n`

In [ ]:
def chunk_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
chunks = chunk_list(my_list, 3)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8]]

###35. Find the second largest number in a list.

In [ ]:
def second_largest(lst):
    unique_numbers = list(set(lst))
    unique_numbers.sort()
    if len(unique_numbers) < 2:
        return None
    return unique_numbers[-2]

my_list = [3, 1, 5, 2, 4]
second_max = second_largest(my_list)
print(second_max)

4

###36. Replace every element in a list with its square.

In [ ]:
my_list = [1, 2, 3, 4, 5]
squared_list = [x ** 2 for x in my_list]
print(squared_list)

[1, 4, 9, 16, 25]

###37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
my_list = ["a", "b", "c", "d"]
dictionary = {value: index for index, value in enumerate(my_list)}
print(dictionary)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

###38. Shuffle the elements of a list randomly.

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[4, 5, 2, 1, 3]

###39. Create a list of the first 10 factorial numbers.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

factorial_numbers = [factorial(i) for i in range(10)]
print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

###40. Check if two lists have at least one element in common.

In [ ]:
def have_common_element(list1, list2):
    return any(item in list1 for item in list2)

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common = have_common_element(list1, list2)
print(common)

True

###41. Remove all elements from a list.

In [ ]:
my_list = [1, -2, 3, -4, 5]
my_list = [0 if x < 0 else x for x in my_list]
print(my_list)

[1, 0, 3, 0, 5]

###42. Replace negative numbers in a list with 0.

In [ ]:
my_list = [1, -2, 3, -4, 5]
my_list = [0 if x < 0 else x for x in my_list]
print(my_list)

[1, 0, 3, 0, 5]

###43. Convert a string into a list of words.

In [ ]:
my_string = "This is a sample string."
word_list = my_string.split()
print(word_list)

['This', 'is', 'a', 'sample', 'string.']

###44. Convert a list of words into a string.

In [ ]:
word_list = ["This", "is", "a", "list"]
my_string = " ".join(word_list)
print(my_string)

This is a list

###45. Create a list of the first `n` powers of 2.

In [ ]:
n = 5
powers_of_2 = [2**i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

###46. Find the longest string in a list of strings.

In [ ]:
string_list = ["apple", "banana", "cherry", "date"]
longest_string = max(string_list, key=len)
print(longest_string)

banana

###47. Find the shortest string in a list of strings.

In [ ]:
string_list = ["apple", "banana", "cherry", "date"]
shortest_string = min(string_list, key=len)
print(shortest_string)

date

###48. Create a list of the first `n` triangular numbers.

In [ ]:
def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers = [triangular_number(i) for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15]

###49. Check if a list contains another list as a subsequence.

In [ ]:
def is_subsequence(subsequence, sequence):
    i, j = 0, 0
    while i < len(subsequence) and j < len(sequence):
        if subsequence[i] == sequence[j]:
            i += 1
        j += 1
    return i == len(subsequence)

list1 = [1, 2, 3, 4, 5, 6]
list2 = [2, 4, 6]
is_sub = is_subsequence(list2, list1)
print(is_sub)

True

###50. Swap two elements in a list by their indices.

In [ ]:
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]

my_list = [1, 2, 3, 4, 5]
swap_elements(my_list, 1, 3)
print(my_list)

[1, 4, 3, 2, 5]

#Tuple Based Practice Problem :

###1. Create a tuple with integers from 1 to 5.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

###2. Access the third element of a tuple.

In [ ]:
third_element = my_tuple[2]
print(third_element)

3

###3. Find the length of a tuple without using the `len()` function.

In [ ]:
tuple_length = sum(1 for _ in my_tuple)
print(tuple_length)

5

###4. Count the occurrences of an element in a tuple.

In [ ]:
element_count = my_tuple.count(3)
print(element_count)

1

###5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 3)
index = my_tuple.index(3)
print(index)

2

###6. Check if an element exists in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
element = 3
exists = element in my_tuple
print(exists)

True

###7. Convert a tuple to a list.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

###8. Convert a list to a tuple.

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

###9. Unpack the elements of a tuple into variables.

In [ ]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)

1 2 3

###10. Create a tuple of even numbers from 1 to 10.

In [ ]:
even_numbers = tuple(range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

###11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
odd_numbers = tuple(range(1, 11, 2))
print(odd_numbers)

(1, 3, 5, 7, 9)

###12. Concatenate two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

###13. Repeat a tuple three times.

In [ ]:
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

###14. Check if a tuple is empty.

In [ ]:
empty_tuple = ()
is_empty = len(empty_tuple) == 0
print(is_empty)

True

###15. Create a nested tuple.

In [ ]:
nested_tuple = ((1, 2), (3, 4))
print(nested_tuple)

((1, 2), (3, 4))

###16. Access the first element of a nested tuple.

In [ ]:
nested_tuple = ((1, 2), (3, 4))
first_element = nested_tuple[0]
print(first_element)

(1, 2)

###17. Create a tuple with a single element.

In [ ]:
single_element_tuple = (5,)
print(single_element_tuple)

(5,)

###18. Compare two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_equal = tuple1 == tuple2
print(are_equal)

True

###19. Delete a tuple.

In [ ]:
my_tuple = (1, 2, 3)
del my_tuple
# my_tuple is no longer accessible after this point

###20. Slice a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]
print(sliced_tuple)

(2, 3, 4)

###21. Find the maximum value in a tuple.

In [ ]:
my_tuple = (5, 8, 2, 10, 3)
max_value = max(my_tuple)
print(max_value)

10

###22. Find the minimum value in a tuple.

In [ ]:
my_tuple = (5, 8, 2, 10, 3)
min_value = min(my_tuple)
print(min_value)

2

###23. Convert a string to a tuple of characters.

In [ ]:
my_string = "Hello"
char_tuple = tuple(my_string)
print(char_tuple)

('H', 'e', 'l', 'l', 'o')

###24. Convert a tuple of characters to a string.

In [ ]:
char_tuple = ('H', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)
print(my_string)

Hello

###25. Create a tuple from multiple data types.

In [ ]:
mixed_tuple = (1, "two", 3.0, [4, 5])
print(mixed_tuple)

(1, 'two', 3.0, [4, 5])

###26. Check if two tuples are identical.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 == tuple2
print(are_identical)

True

###27. Sort the elements of a tuple.

In [8]:
my_tuple = (3, 1, 4, 2, 5)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3, 4, 5)

###28. Convert a tuple of integers to a tuple of strings

In [9]:
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(str(x) for x in int_tuple)
print(str_tuple)

('1', '2', '3', '4', '5')

###29. Convert a tuple of strings to a tuple of integers.

In [10]:
str_tuple = ("1", "2", "3", "4", "5")
int_tuple = tuple(int(x) for x in str_tuple)
print(int_tuple)

(1, 2, 3, 4, 5)

###30. Merge two tuples.

In [11]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

###31. Flatten a nested tuple.

In [12]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

###32. Create a tuple of the first 5 prime numbers.

In [13]:
prime_numbers = (2, 3, 5, 7, 11)
print(prime_numbers)

(2, 3, 5, 7, 11)

###33. Check if a tuple is a palindrome.

In [14]:
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]
print(is_palindrome)

True

###34. Create a tuple of squares of numbers from 1 to 5.

In [15]:
squares_tuple = tuple(x**2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

###35. Filter out all even numbers from a tuple.

In [16]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(x for x in my_tuple if x % 2 != 0)
print(filtered_tuple)

(1, 3, 5, 7, 9)

###36. Multiply all elements in a tuple by 2.

In [17]:
my_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in my_tuple)
print(doubled_tuple)

(2, 4, 6, 8, 10)

###37. Create a tuple of random numbers.

In [18]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(61, 13, 93, 100, 9)

###38. Check if a tuple is sorted.

In [19]:
def is_sorted_tuple(tup):
    return all(tup[i] <= tup[i+1] for i in range(len(tup)-1))

my_tuple = (1, 2, 3, 4, 5)
is_sorted = is_sorted_tuple(my_tuple)
print(is_sorted)

True

###39. Rotate a tuple to the left by `n` positions.

In [20]:
def rotate_left_tuple(n, tup):
    return tup[n:] + tup[:n]

my_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_left_tuple(2, my_tuple)
print(rotated_tuple)

(3, 4, 5, 1, 2)

###40. Rotate a tuple to the right by `n` positions.

In [21]:
def rotate_right_tuple(n, tup):
    return tup[-n:] + tup[:-n]

my_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_right_tuple(2, my_tuple)
print(rotated_tuple)

(4, 5, 1, 2, 3)

###41. Create a tuple of the first 5 Fibonacci numbers.

In [22]:
def generate_fibonacci(n):
    fibonacci_tuple = (0, 1)
    while len(fibonacci_tuple) < n:
        next_fibonacci = fibonacci_tuple[-1] + fibonacci_tuple[-2]
        fibonacci_tuple += (next_fibonacci,)
    return fibonacci_tuple[:n]

fibonacci_numbers = generate_fibonacci(5)
print(fibonacci_numbers)

(0, 1, 1, 2, 3)

###42. Create a tuple from user input.

In [24]:
user_input = input("Enter comma-separated values: ")
user_tuple = tuple(map(int, user_input.split(',')))
print(user_tuple)

Enter comma-separated values: 5,12,45,65,8,2,65,45,19
(5, 12, 45, 65, 8, 2, 65, 45, 19)

###43. Swap two elements in a tuple.

In [25]:
def swap_elements_tuple(tup, index1, index2):
    tup_list = list(tup)
    tup_list[index1], tup_list[index2] = tup_list[index2], tup_list[index1]
    return tuple(tup_list)

my_tuple = (1, 2, 3, 4, 5)
swapped_tuple = swap_elements_tuple(my_tuple, 1, 3)
print(swapped_tuple)

(1, 4, 3, 2, 5)

###44. Reverse the elements of a tuple.

In [26]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

###45. Create a tuple of the first `n` powers of 2.

In [27]:
n = 5
powers_of_2 = tuple(2**i for i in range(n))
print(powers_of_2)

(1, 2, 4, 8, 16)

###46. Find the longest string in a tuple of strings.

In [28]:
string_tuple = ("apple", "banana", "cherry", "date")
longest_string = max(string_tuple, key=len)
print(longest_string)

banana

###47. Find the shortest string in a tuple of strings.

In [29]:
string_tuple = ("apple", "banana", "cherry", "date")
shortest_string = min(string_tuple, key=len)
print(shortest_string)

date

###48. Create a tuple of the first `n` triangular numbers.

In [30]:
def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers = tuple(triangular_number(i) for i in range(1, n + 1))
print(triangular_numbers)

(1, 3, 6, 10, 15)

###49. Check if a tuple contains another tuple as a subsequence.

In [31]:
def is_subsequence_tuple(subseq, seq):
    i, j = 0, 0
    while i < len(subseq) and j < len(seq):
        if subseq[i] == seq[j]:
            i += 1
        j += 1
    return i == len(subseq)

tuple1 = (1, 2, 3, 4, 5, 6)
tuple2 = (2, 4, 6)
is_sub = is_subsequence_tuple(tuple2, tuple1)
print(is_sub)

True

###50. Create a tuple of alternating 1s and 0s of length `n`.

In [32]:
n = 6
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1, 0)